@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Space+Mono&display=swap');


.Picture {
  height: 150px;
  width: 150px;
  border-radius: 300px;
}

body {
  background-color: #c5c5c2;
  color: #92B4A7;
  font-family: 'Space Mono', monospace;
}

.desc {
  color: #61796f;
  line-height: 25px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.link {
  background-color: #67AAF9;
  line-height: 25px;
  border: none;
  color: rgba(255, 255, 255, 0.856);
  padding: 13px 13px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 10px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
}

.link:hover {
  background-color: #538aca;
}

#follow {
  color: #B95F89;
  font-size: 20px;
}

.icons {
  color: #67AAF9;
}

.icons:hover {
  color: #2EC0F9;
}

h2 {
  font-size: 20px;
  font-weight: 300;
}

h1 {
  font-weight: 500;
}

.card {
  background-color: white;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 20px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border: 1px solid lightblue;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-right: 30px;
  font-size: larger;
  font-size: 30px;
}

a.icons {
  text-decoration: none;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 400px;
  }
}
